<html>
<div class='form'>
    <form action="" method="POST"
        {{ form.name.label }} {{ form.name }}
        <br>
        {{ form.genre.label }} {{ form.genre }}
        <br>
        {{ form.year_formed.label }} {{ form.year_formed }}
        <br>
        {{ form.most_recent_no1.label }} {{ form.most_recent_no1 }}
        <br>
        {{ form.no_of_members.label }} {{ form.no_of_members }}
        <br>
        {{ form.next_concert_venue.label }} {{ form.next_concert_venue }}
        <br>
        {{ form.submit }}
</div>
</html>